/* Tooltip */
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 10;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    white-space: nowrap;
    font-size: 0.75rem;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Ícones sociais */
.social-icon {
    transition: all 0.3s ease-in-out;
}

.fa-facebook-f:hover {
    color: #1877f2;
    background: white !important;
}

.fa-whatsapp:hover {
    color: #25d366;
    background: white !important;
}

.fa-instagram:hover {
    color: #E1306C;
    background: white !important;
}

.fa-linkedin-in:hover {
    color: #0A66C2;
    background: white !important;
}
